Student-DB Extension: Extend your university database data frame from the previous exercise

Start with the data frame from the last exercise

Add columns holding the age and grade average of your students to the data frame

In [6]:
#PANDAS Data Frames
import pandas as pd




list_2dim = [[1,"Apo","Wi",3],[2,"Diri","OMM",2],[3,"Erhan","bi",3]]

df = pd.DataFrame(list_2dim,index=['ID1','ID2','ID3'],columns=['ID','Name','Studiengang','Smester'])

print(df)
print(type(df))


df['Age']= [23, 23, 22]
df['Note'] = [1.9,1,2]
df

     ID   Name Studiengang  Smester
ID1   1    Apo          Wi        3
ID2   2   Diri         OMM        2
ID3   3  Erhan          bi        3
<class 'pandas.core.frame.DataFrame'>

     ID   Name Studiengang  Smester  Age  Note
ID1   1    Apo          Wi        3   23   1.9
ID2   2   Diri         OMM        2   23   1.0
ID3   3  Erhan          bi        3   22   2.0

Change one of the column names and print - only the column names - afterwards to check

In [23]:
df.columns= ['ID','Name','Studiengang','Smester', 'B5','B6']
df

     ID   Name Studiengang  Smester  B5   B6
ID1   1    Apo          Wi        3  23  1.9
ID2   2   Diri         OMM        2  23  1.0
ID3   3  Erhan          bi        3  22  2.0

Create an additional, incomplete data set with a first semester student that has no grade average yet (NULL values can be created with the numpy value "nan") 

Transform the new data set to a data frame

Append the new frame set to the existing one (use "append" method).

Print the extended data frame and show its descriptive statistics

Finally, drop NaN/missing values from you data frame and print to check the result

In [49]:
import numpy as np
firstS = [[4, "Luca", "Wi", 1, 21, np.nan ]]

df_new = pd.DataFrame(firstS,index=['ID4'],columns=['ID','Name','Studiengang','Smester', 'B5','B6'])

df.append(df_new)
df.describe()

df= df.dropna()
print(df)

     ID   Name Studiengang  Smester  B5   B6
ID1   1    Apo          Wi        3  23  1.9
ID2   2   Diri         OMM        2  23  1.0
ID3   3  Erhan          bi        3  22  2.0