In [ ]:
#PANDAS Data Frames
import pandas as pd

#to generate random numbers
from numpy.random import randn

In [ ]:
#create data frame size 3*3 containing random numbers
print("Some two-dimensional data types:")

list_2dim = [[10112,"Berlin",3460725],[20095,"Hamburg",1786445],[80331,"MÃ¼nchen",1353185]]
print("\nThis is a simple 2dim list:")
print (list_2dim)
print(type(list_2dim))


array_ran = randn(3,3)
print("\nThis is a simple 2dim array:")
print (array_ran)
print(type(array_ran))

df = pd.DataFrame(randn(3,3),index=['ID1','ID2','ID3'],columns=['A1','A2','A3'])
print("\nThis is a PANDAS dataframe:")
print(df)
print(type(df))

In [ ]:
#select column
df['A1']

In [3]:
#select list of columns columns
df[['A1','A3']]

NameError: name 'df' is not defined

In [ ]:
#create new column
df['A1+A2']=df['A1']+df['A2']
df

In [ ]:
#drop column temporarily
df.drop('A1+A2',axis=1)

In [ ]:
df

In [ ]:
#drop column permanently
df.drop('A1+A2',axis=1,inplace=True)

In [1]:
df

NameError: name 'df' is not defined

In [2]:
#select row
df.loc['ID1']

NameError: name 'df' is not defined

In [ ]:
#drop row temp
df.drop('ID1',axis=0)

In [1]:
#select rows and columns at once
df.loc[['ID2','ID3'],['A1','A2']]

NameError: name 'df' is not defined

In [2]:
df

NameError: name 'df' is not defined

In [ ]:
#conditional selection
df > 0

In [29]:
#conditional selection
df[df['A3']<0]['A1']

ID1    1.362739
ID3    1.643367
Name: A1, dtype: float64