Student DB: Create a PANDAS dataframe for a university database holding student information

The database should contain the student's ID, name, field of study and number of semesters

Print your data frame

In [7]:
#PANDAS Data Frames
import pandas as pd




list_2dim = [[1,"Apo","Wi",3],[2,"Diri","OMM",2],[3,"Erhan","bi",3]]

df = pd.DataFrame(list_2dim,index=['ID1','ID2','ID3'],columns=['ID','Name','Studiengang','Smester'])

print(df)
print(type(df))

     ID   Name Fach  Smester
ID1   1    Apo   Wi        3
ID2   2   Diri  OMM        2
ID3   3  Erhan   bi        3
<class 'pandas.core.frame.DataFrame'>

Perform the following operations on your data frame and check the result:
- Select columns "ID" and "Name"
- Create a new column adding one semester to the existing number of semesters
- Permanently drop the new column again

In [20]:
df[['ID','Name']]



df['Smester+1']=df['Smester']+1
print(df)


df.drop('Smester+1',axis=1,inplace=True)
print(df)

     ID   Name Fach  Smester  Smester+1
ID1   1    Apo   Wi        3          4
ID2   2   Diri  OMM        2          3
ID3   3  Erhan   bi        3          4
     ID   Name Fach  Smester
ID1   1    Apo   Wi        3
ID2   2   Diri  OMM        2
ID3   3  Erhan   bi        3

Perform the following operations on your data frame and check the result:
- Select all columns for one specific student
- Show the name of all students in a specific semester (without directly selecting one row)

In [27]:
df.loc[['ID2','ID3']]

     ID   Name Fach  Smester
ID2   2   Diri  OMM        2
ID3   3  Erhan   bi        3

In [28]:
#conditional selection
df[df['Smester']>2]['Name']

ID1      Apo
ID3    Erhan
Name: Name, dtype: object